{% extends 'base.html' %}

{% block titulo %}
Clipezudos {{ object }}
{% endblock %}


{% block content %}
<div class="py-18">
    {% for video in object.musica_filme.all %}
    <a href="{{ video.video }}">
        <h1>{{ video.nome }}</h1>
    </a>
    <a href="{{ video.video }}">
        <img src="{{ video.thumb.url}}">
    </a>
    <h2> {{ video.descricao }} </h2>
    {% endfor %}

</div>

<div class="py-18">
    {% for clipes in clipes_relacionados %}
    <h1> {{clipes.nome}} </h1>

    {% endfor %}

</div>
{% endblock %}